#root {
  text-align: center;
  width: 100vw;
  height: 100vh;

  --color-1: #a5f1f4;
  --color-2: #ddfdc7;
  --color-3: #0b3936;
  font-weight: 900;
  --width: 200px;
}
.hidden.stash {
  border-radius: 15px;
  display: grid;
  aspect-ratio: 3/4;
  width: var(--width);
  background: center / cover no-repeat;
  transition: all ease-in-out 0.1s;
}
.hero {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  justify-content: center;
  gap: 0px;
  margin: auto;
}
.hero-text {
  max-width: 60ex;
  padding: 1ex;
}
.cards.container {
  padding: 2rem;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--width), 1fr));
}
.hidden.stash:not(.hover-effects) {
  position: relative;
}
.hover-effects {
  position: absolute;
  top: 0%;
  width: 199px;
  box-shadow: 0 0 15px var(--color-3);
  opacity: 0;
}
.card {
  position: relative;
}
.card:hover > .hover-effects {
  opacity: 1;
}
.card:hover > .hidden.stash,
.card:hover > .hover-effects {
  transform: scale(1.02);
}
.card:active > .hidden.stash,
.card:active > .hover-effects {
  transform: scale(0.99);
}
.header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(45deg, var(--color-1), var(--color-2));
}
.score {
  align-items: center;
}
.title {
  font-size: large;
}

@media (max-width: 480px) {
  #root {
    --width: 110px;
  }
}
@media (max-width: 350px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
