#root {
  padding: 2rem;
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.hidden.stash {
  border-radius: 15px;
  display: grid;
  aspect-ratio: 3/4;
  width: 200px;
  background: center / cover no-repeat;
}
.cards.container {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.hidden.stash:hover {
  box-shadow: 0 0 5px greenyellow;
  transform: scale(1.02);
}
.hidden.stash:active {
  transform: scale(0.99);
}
